body{

  background-color: #E9E9ED;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #058789;
  min-height: 68px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

#logo {

  width: 120px;
  height: 120px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{

  text-align: left;
  padding-left: 20px;

}

#tracker{

  box-shadow: #686B6E;
  border-radius: 5px;
  border: #686B6E;
  background-color: #FFFFFF;
  width: 70%;
  display: flex;
  margin-left:15%;
  margin-right: 15%; 

}

.entry{

  border-radius: 7px;
  box-shadow: #686B6E;
  box-shadow: 2px;
  width: 100%;
  height: 250px;

}

.intensity{

display: block;
width: 15px;
height: 15px;
padding-left: 8px;

}

.edit{

  background-color: #05696B;
  color: #FFFFFF;
  border-radius: 2px;
  border: none;
  height: 35px;
  width: 75px;

}

.reason{

  display: block; /*À voir si à suprimer*/

}

.add{


margin-top: 20%;
border-radius: 50%;
float: right;
width: 40px;
height: 40px;
background-color: #05696B;
color: white;
border: none;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);



}