body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.ill{

    background-color: #FFFFFF;
    width: 70%;
    height: 750px;
    margin-top: 5%;
    margin-left: 15%;
    margin-left: 15%;
    float: center;

}

span{

    margin-right: 10%;
    padding-top: 40px;
}

#ligne1{
    display: flex;

    padding-top: 100px;
    padding-bottom: 50px;

}

.date{

    margin-left: 250px;
    padding-left: 150px;
    

}

input[type="text"]{

    margin-top: 15px;
    width: 300px;
    height: 35px;
    display: block;
    border-radius: 2px;
    border-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

input[type="date"]{

    display:block;
    margin-top: 15px;
    height: 35px;
}

label {

    margin-right: 5px;

}
.category{

    margin-right: 10px;
    padding-right: 15px;
    margin-left: 50px;
    display: block;
    padding-bottom: 30px;
    font-weight: bold;

}

#ligne3{

    padding-top: 150px;
    display: block;
    padding-bottom: 50px;
}

#ligne3{

    padding-top: 100px;
    display: block;
    padding-bottom: 50px;

}

form{

    float: center;

}

input[type="radio"].intensity-radio {
    display: none;
}

.color-box {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 5px;
    margin-left: 10px;
}

.red {
    background-color: #DE0522;
    margin-left: 20px;
}
.orange {
    background-color: #EB9612;
}
.yellow {
    background-color: #FFDC20;
}
.green {
    background-color: #00F048;
}

input[type="radio"].intensity-radio:checked + label .color-box {
    border: 3px solid black;
}